*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Nunito-Regular";
  src: url("../fonts/Nunito-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito-SemiBold";
  src: url("../fonts/Nunito-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DancingScript-Regular";
  src: url("../fonts/DancingScript-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DancingScript-Medium";
  src: url("../fonts/DancingScript-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DancingScript-SemiBold";
  src: url("../fonts/DancingScript-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DancingScript-Bold";
  src: url("../fonts/DancingScript-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  position: absolute;
  height: 20px;
  width: 60%;
  background-color: #FFF;
  transform: skew(45deg);
}
.white-block-left {
  bottom: 0;
  left: -50px;
}
.white-block-right {
  top: 0;
  right: -50px;
}

.btn-special-animation {
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-100% - 8px);
  width: 100%;
  height: 100%;
  background-color: #dfdfdf;
  transform: skew(-20deg);
  transition: left 300ms ease-in-out;
  z-index: -1;
}
.btn-special-animation:hover::before {
  left: calc(100% + 8px);
}

.section-padding {
  padding: 6em 2em;
}

.section__heading {
  position: relative;
  margin-bottom: 2em;
  text-align: center;
  color: #1755e7;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 2em;
  background-color: #FFF;
  border-radius: 8px;
  z-index: 2;
}
.modal__text {
  margin-bottom: 1em;
  font-family: var(--nunito-semibold);
  font-size: 2.2rem;
}
.modal__btn-close {
  padding: 0.8em 1.6em;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 1.8rem;
  font-family: var(--nunito-regular);
  background-color: #1755e7;
  color: #fefefe;
  border: 2px solid transparent;
  cursor: pointer;
}
.modal__btn-close:focus {
  outline: none;
  border-color: #333;
}
.modal.active {
  display: block;
}
.modal.animation {
  animation: showModal 500ms linear;
}

.modal-shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(40, 40, 40, 0.5);
  z-index: 1;
}
.modal-shadow.active {
  display: block;
}
.modal-shadow.animation {
  animation: showModal 500ms linear;
}

@keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1.5em;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: transparent;
  z-index: 3;
  cursor: pointer;
  transition: opacity 200ms linear;
}
.burger-btn:focus {
  outline: none;
  border-color: #FFF;
}
.burger-btn:hover {
  opacity: 0.7;
}
.burger-btn__box {
  position: relative;
  display: block;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::before, .burger-btn__bars::after {
  position: absolute;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #FFF;
  transition: transform 200ms linear;
}
.burger-btn__bars {
  display: block;
  top: 13px;
}
.burger-btn__bars::before, .burger-btn__bars::after {
  content: "";
}
.burger-btn__bars::before {
  top: -13px;
}
.burger-btn__bars::after {
  top: 13px;
}
.burger-btn.active .burger-btn__bars {
  transform: rotate(45deg);
}
.burger-btn.active .burger-btn__bars::before {
  top: 0;
  opacity: 0;
}
.burger-btn.active .burger-btn__bars::after {
  top: 0;
  transform: rotate(-90deg);
}

.black-bars,
.black-bars::before,
.black-bars::after {
  background-color: #333;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(45deg, rgb(20, 105, 241), rgb(42, 10, 184));
  transform: translateX(100%);
  transition: transform 500ms cubic-bezier(0.65, 0.05, 0.36, 1);
  z-index: 2;
}
.nav--active {
  transform: translateX(0);
}
.nav__item {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  font-size: 2.8rem;
  color: #FFF;
  text-decoration: none;
  line-height: 1;
}
.nav__item-animation {
  animation: navItemAnimation 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  animation-fill-mode: backwards;
}
.nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #FFF;
  transform: scale(0);
  transition: transform 250ms linear;
}
.nav__item:hover::before {
  transform: scale(1);
}

@keyframes navItemAnimation {
  from {
    opacity: 0;
    transform: translateX(30vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.header {
  height: 85vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  color: #fefefe;
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.5), rgba(42, 10, 184, 0.5)), url("../assets/images/seychelles-hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header__title {
  margin-bottom: 0.2em;
  font-family: var(--dancing-script-bold);
  font-size: 5rem;
  font-weight: 300;
}
.header__text {
  margin-bottom: 2em;
}
.header__btn {
  padding: 0.9em 1.8em;
  background-color: #FFF;
  color: #333;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--nunito-semibold);
}

.dreams__box {
  display: flex;
  flex-direction: column;
}
.dreams__img {
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 6px;
}
.dreams__title {
  margin-bottom: 1rem;
  font-size: 2.8rem;
}
.dreams__text {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: #4b4b4b;
}

.hero {
  position: relative;
  overflow: hidden;
  padding: 10em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.5), rgba(42, 10, 184, 0.5)), url("../assets/images/seychelles-hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero__title, .hero__text {
  margin: 2rem 0;
}
.hero__title {
  font-family: var(--dancing-script-bold);
  font-size: 4.2rem;
}
.hero__text {
  font-size: 2.2rem;
  font-weight: 400;
}
.hero hr {
  margin: 0 auto;
  width: 90%;
}

.islands__cards {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.islands__card {
  height: 450px;
  position: relative;
  color: #FFF;
  text-align: center;
  perspective: 1000px;
}
.islands__card-img {
  padding: 2em;
  height: 100%;
  border-radius: 8px;
  background-size: cover;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  background-position: center;
  background-size: cover;
}
.islands__card-img--first {
  background-image: linear-gradient(45deg, rgba(8, 206, 255, 0.5), rgba(8, 24, 255, 0.5)), url("../assets/images/bali-island.jpg");
}
.islands__card-img--second {
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.5), rgba(42, 10, 184, 0.5)), url("../assets/images/japanese-island.jpg");
}
.islands__card-img--third {
  background-image: linear-gradient(45deg, rgba(190, 10, 214, 0.5), rgba(68, 0, 255, 0.5)), url("../assets/images/hawaii-palms-pond.jpg");
}
.islands__card-img-title {
  font-family: var(--dancing-script-bold);
  font-size: 3.6rem;
}
.islands__card-img-info {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 1.8rem;
}
.islands__card-img-info i {
  margin-right: 0.3em;
}
.islands__card-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(0, 212, 255) 100%);
  border-radius: 8px;
  transform: rotateY(180deg);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 0;
}
.islands__card-info-title {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 2.75rem;
  transform: translateX(-50%);
  font-family: var(--dancing-script-bold);
  font-size: 2.6rem;
}
.islands__card-info-list {
  list-style: none;
  margin: 0 auto;
  width: 70%;
}
.islands__card-info-list-item {
  padding: 1em 0;
  font-size: 1.6rem;
  border-bottom: 2px solid #fefefe;
}
.islands__card-info-list-item:last-child {
  border-bottom: none;
}
.islands__card-info-btn {
  width: 80%;
  bottom: -1em;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.7em;
  border: none;
  border-radius: 8px;
  background-color: #00ffaa;
  font-family: var(--nunito-semibold);
  font-size: 2rem;
  cursor: pointer;
}
.islands__card-info-btn::before {
  background-color: #0fe29c;
}
.islands__card:hover .islands__card-img {
  transform: rotateY(-180deg);
  opacity: 0;
}
.islands__card:hover .islands__card-info {
  transform: rotateY(0);
  opacity: 1;
}

.offers {
  position: relative;
  overflow-x: hidden;
  background: linear-gradient(45deg, rgba(20, 105, 241, 0.5), rgba(42, 10, 184, 0.5));
}
.offers .section__heading {
  color: #FFF;
}
.offers__option {
  margin: 2em 0;
  background-color: #FFF;
  border-radius: 0.5em;
}
.offers__option-img {
  overflow: hidden;
}
.offers__option-img:hover .offers__img {
  transform: scale(1.1);
}
.offers__option-info {
  padding: 1.4em;
}
.offers__option-heading {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 0.5em;
}
.offers__option-text {
  color: #4b4b4b;
}
.offers__option-btn {
  width: 100%;
  margin-top: 1em;
  padding: 0.8em;
  color: #FFF;
  background-color: #1755e7;
  border: none;
  border-radius: 8px;
  font-family: var(--nunito-regular);
  font-size: 2.4rem;
  cursor: pointer;
}
.offers__option-btn::before {
  background-color: #164b9b;
}
.offers__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5em 0.5em 0 0;
  transition: transform 300ms linear;
}

.team__cards {
  display: flex;
  flex-direction: column;
}
.team__card {
  position: relative;
  height: 450px;
  margin: 1em;
  border-radius: 14px;
  text-align: center;
  background-position: center;
  background-size: cover;
  box-shadow: 4px 4px 10px rgba(40, 40, 40, 0.5);
  overflow: hidden;
  filter: saturate(80%);
}
.team__card-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 20px;
  font-size: 3.4rem;
  border: 2px solid transparent;
  border-radius: inherit;
  color: #FFF;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  outline: none;
  background: none;
  z-index: 1;
  cursor: crosshair;
}
.team__card-btn:focus {
  border: 2px solid #333;
}
.team__card-btn:hover ~ .team__card-info {
  -webkit-clip-path: circle(100% at 50% 50%);
          clip-path: circle(100% at 50% 50%);
}
.team__card-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2em 1em;
  color: #FFF;
  background-color: rgba(40, 40, 40, 0.5);
  -webkit-clip-path: circle(0 at 50% 50%);
          clip-path: circle(0 at 50% 50%);
  transition: -webkit-clip-path 800ms ease-in-out;
  transition: clip-path 800ms ease-in-out;
  transition: clip-path 800ms ease-in-out, -webkit-clip-path 800ms ease-in-out;
}
.team__card-info h3 {
  margin-bottom: 0.25em;
  font-family: var(--dancing-script-bold);
  font-size: 3.6rem;
}
.team__card-info h4 {
  margin-bottom: 0.5em;
  font-size: 1.8rem;
}
.team__card--one {
  background-image: url("../../assets/images/teammember1.jpg");
}
.team__card--two {
  background-image: url("../../assets/images/teammember2.jpg");
}
.team__card--three {
  background-image: url("../../assets/images/teammember3.jpg");
}

@media (min-width: 400px) {
  .team__card {
    height: 600px;
  }
}
.statistics {
  position: relative;
  overflow-x: hidden;
  background: #dfdfdf;
}
.statistics__boxes, .statistics__box {
  display: flex;
  flex-direction: column;
}
.statistics__box {
  align-items: center;
  padding: 1.5em;
}
.statistics__box:first-child {
  padding-top: 0;
}
.statistics__box:last-child {
  padding-bottom: 0;
}
.statistics__box i {
  margin-bottom: 0.3em;
  font-size: 4.2rem;
  color: #FFF;
  text-shadow: 0 0 5px rgb(0, 0, 0);
}
.statistics__box-heading {
  margin-bottom: 0.4em;
  font-size: 2.4rem;
}
.statistics__box-text {
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
}

.opinions {
  position: relative;
  overflow-x: hidden;
  background: linear-gradient(45deg, rgba(20, 105, 241, 0.5), rgba(42, 10, 184, 0.5));
}
.opinions .white-block {
  background-color: #dfdfdf;
}
.opinions .section__heading {
  color: #FFF;
}
.opinions__box {
  min-height: 260px;
  margin: 1em;
  padding: 1em;
  background-color: #FFF;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 10px rgba(40, 40, 40, 0.5);
  transition: transform 300ms linear;
}
.opinions__box:hover {
  transform: scale(0.95);
}
.opinions__box-img {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.opinions__box-quote {
  margin-bottom: 1em;
  padding-top: 6px;
  padding-left: 14px;
  font-size: 5rem;
  color: #1755e7;
  line-height: 1;
}
.opinions__box-text {
  margin-bottom: 0.5em;
}
.opinions__box-author {
  font-size: 1.8rem;
}

.contact {
  position: relative;
  background-color: #dfdfdf;
}
.contact.section-padding {
  padding-bottom: calc(6em + 40px);
}
.contact .white-block-left {
  background-color: #333;
}
.contact__form, .contact__form-top, .contact__form-box, .contact__form-bottom {
  display: flex;
  flex-direction: column;
}
.contact__form-box {
  margin-bottom: 2em;
}
.contact__form-error {
  display: none;
  margin-top: 0.15em;
}
.contact__form-label {
  margin-bottom: 0.35em;
  font-family: var(--nunito-semibold);
  font-size: 1.8rem;
}
.contact__form-input {
  padding: 0.8em 1.6em;
  border: 2px solid #333;
  border-radius: 8px;
  font-size: 1.8rem;
  font-family: var(--nunito-regular);
}
.contact__form-textarea {
  padding: 0.8em 1.6em;
  border: 2px solid #333;
  border-radius: 8px;
  font-size: 1.8rem;
  font-family: var(--nunito-regular);
  resize: vertical;
  min-height: 150px;
  padding: 0.8em;
}
.contact__form-error {
  color: #8d0000;
  font-family: var(--nunito-semibold);
  font-size: 1.8rem;
}
.contact__form-bottom {
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}
.contact__form-btn {
  display: block;
  padding: 0.7em 1.4em;
  border: none;
  border-radius: 4px;
  font-size: 1.8rem;
  font-family: var(--nunito-semibold);
  color: #FFF;
  cursor: pointer;
}
.contact__form-btn--reset {
  background-color: #8d0000;
}
.contact__form-btn--reset::before {
  background-color: #5f0000;
}
.contact__form-btn--submit {
  background-color: #1755e7;
}
.contact__form-btn--submit::before {
  background-color: #164b9b;
}

@media (min-width: 375px) {
  .contact__form-btn {
    padding: 1em 2em;
  }
}
.footer {
  color: #FFF;
  background-color: #333;
}
.footer .wrapper {
  padding: 4em 2em 2em;
}
.footer__box-title {
  margin-bottom: 1em;
  font-family: var(--dancing-script-regular);
  font-size: 3.2rem;
}
.footer__box-social {
  margin: 2em 0;
}
.footer__box-social-link {
  padding: 0 0.3em;
  color: #FFF;
  font-size: 4.2rem;
  transition: color 300ms linear;
}
.footer__box-social-link:first-child {
  padding-left: 0;
}
.footer__box-social-link:last-child {
  padding-right: 0;
}
.footer__box-social-link:hover:first-child {
  color: #3b5998;
}
.footer__box-social-link:hover:nth-child(2) {
  color: #00aced;
}
.footer__box-social-link:hover:nth-child(3) {
  color: #125688;
}
.footer__box-desktop {
  display: none;
}
.footer__box-list {
  list-style-type: none;
}
.footer__bottom-text {
  padding: 2em 0;
  text-align: center;
}

@media (min-width: 375px) {
  .footer__box-title {
    font-size: 3.6rem;
  }
}
@media screen and (min-width: 576px) {
  .hero {
    padding: 15em 2em;
  }
  .hero__title {
    font-size: 4.8rem;
  }
  .hero__text {
    font-size: 2.6rem;
  }
  .islands__card-img-title {
    font-size: 3.6rem;
  }
  .statistics__boxes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .statistics__box {
    width: 50%;
    padding: 2em 1em;
  }
  .statistics__box:nth-child(2) {
    padding-top: 0;
  }
  .statistics__box:nth-child(5) {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .section-padding {
    padding: 8em 2em;
  }
  .section__heading {
    font-size: 3.6rem;
  }
  .burger-btn {
    top: 40px;
    right: 40px;
  }
  .nav__item {
    font-size: 3.6rem;
    font-weight: 300;
  }
  .header__title {
    font-size: 6rem;
  }
  .header__text {
    font-size: 2rem;
  }
  .header__btn {
    font-size: 1.8rem;
  }
  .dreams__box {
    flex-direction: row;
    gap: 2em;
    margin: 2em 0;
  }
  .dreams__box-img {
    width: 45%;
  }
  .dreams__box-img--two {
    order: 1;
  }
  .dreams__box-text {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .dreams__box-text--two {
    text-align: right;
  }
  .dreams__img {
    margin-bottom: 0;
  }
  .dreams__title {
    font-size: 3.4rem;
  }
  .dreams__text {
    font-size: 2rem;
  }
  .islands__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .islands__card {
    width: 40%;
  }
  .offers__option {
    display: flex;
    overflow: hidden;
  }
  .offers__option-img {
    width: 50%;
  }
  .offers__option-img--right {
    order: 1;
  }
  .offers__option-img--right .offers__img {
    border-radius: 0 0.5em 0.5em 0;
  }
  .offers__option-heading {
    font-size: 3.6rem;
  }
  .offers__option-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .offers__img {
    border-radius: 0.5em 0 0 0.5em;
  }
  .team__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team__card {
    width: 40%;
  }
  .statistics__box {
    width: 33.3%;
  }
  .statistics__box:nth-child(3) {
    padding-top: 0;
  }
  .statistics__box:nth-child(4) {
    padding-bottom: 0;
  }
  .footer__boxes {
    display: flex;
  }
  .footer__box {
    width: 25%;
    margin: 2rem;
  }
  .footer__box:first-child {
    width: 50%;
  }
  .footer__box-title {
    font-size: 2.6rem;
  }
  .footer__box-list-item {
    margin-bottom: 0.8em;
  }
  .footer__box-list-item a {
    color: #FFF;
    text-decoration: none;
    transition: color 300ms linear;
  }
  .footer__box-list-item a:hover {
    color: #d0d0d0;
  }
  .footer__box-desktop {
    display: block;
  }
  .footer__bottom-text {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 992px) {
  .section-padding {
    padding: 10em 2em;
  }
  .section__heading {
    font-size: 4.2rem;
  }
  .nav__item {
    font-size: 4.8rem;
  }
  .header {
    background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.5), rgba(42, 10, 184, 0.5)), url("../assets/images/seychelles-hero-hq.jpg");
  }
  .header__title {
    font-size: 8rem;
  }
  .header__text {
    font-size: 2.4rem;
  }
  .header .white-block {
    width: 50%;
  }
  .dreams {
    padding: 10em 2em;
  }
  .dreams__title {
    font-size: 4rem;
  }
  .dreams__text {
    font-size: 2.2rem;
  }
  .hero {
    padding: 20em 2em;
  }
  .hero__title {
    font-size: 6.2rem;
  }
  .hero__text {
    font-size: 3rem;
  }
  .hero hr {
    width: 70%;
  }
  .islands__card {
    width: 30%;
  }
  .offers__option {
    height: 400px;
  }
  .offers__option-text {
    font-size: 1.8rem;
  }
  .team__card {
    width: 30%;
  }
  .statistics__box {
    width: 16.6%;
    padding: 0 2em;
  }
  .footer__box-title {
    font-size: 3.6rem;
  }
}
:root {
  --dancing-script-regular: "DancingScript-Regular", sans-serif;
  --dancing-script-medium: "DancingScript-Medium", sans-serif;
  --dancing-script-semibold: "DancingScript-SemiBold", sans-serif;
  --dancing-script-bold: "DancingScript-Bold", sans-serif;
  --nunito-regular: "Nunito-Regular", sans-serif;
  --nunito-semibold: "Nunito-SemiBold", sans-serif;
}

body {
  font-family: var(--nunito-regular);
  font-size: 1.6rem;
}/*# sourceMappingURL=style.css.map */