@font-face {
  font-family: "nunitoregular";
  src: url("../fonts/Nunito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nunitosemibold";
  src: url("../fonts/Nunito-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}