@use "./colors";

@mixin burgerBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1.5em;
  border: 2px solid transparent;
  background-color: transparent;
  z-index: 1;
}

@mixin bgImg($url) {
  background-image: colors.$blue-gradient, url($url);
  background-size: cover;
  background-position: center;
}