@use "./reset";
@use "./colors";
@use "./components";
@use "./font-faces";
@use "./mixins" as mixins;

:root {
  --dancing-script-regular: "DancingScript-Regular", sans-serif;
  --dancing-script-medium: "DancingScript-Medium", sans-serif;
  --dancing-script-semibold: "DancingScript-SemiBold", sans-serif;
  --dancing-script-bold: "DancingScript-Bold", sans-serif;
  --nunito-regular: "Nunito-Regular", sans-serif;
  --nunito-semibold: "Nunito-SemiBold", sans-serif;
}

body {
  font-family: var(--nunito-regular);
  font-size: 1.6rem;
}

.burger-btn {
  @include mixins.burgerBtn;
  cursor: pointer;

  &__box {
    position: relative;
    width: 40px;
    height: 30px;
  }

  &__bars,
  &__bars::before,
  &__bars::after {
    content: "";
    position: absolute;
    right: 0;    
    height: 3px;
    background-color: colors.$light;
    transition: width 300ms;
  }

  &__bars {
    top: 0;
    width: 100%;

    &::before {
      top: 13px;
      width: 60%;
      transition-delay: 100ms;
    }
    &::after {
      top: 27px;
      width: 30%;
      transition-delay: 200ms;
    }
  }

  &:focus {
    border: 2px solid colors.$light;
    border-radius: 8px;
  }

  &:hover {
    .burger-btn__bars::before,
    .burger-btn__bars::after {
      width: 100%;
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: colors.$blue-gradient-solid;
  transform: translateX(100%);
  transition: 500ms cubic-bezier(0.65, 0.05, 0.36, 1);
  z-index: 1;

  &--active {
    transform: translateX(0);
  }
  
  &__item {
    position: relative;
    display: block;
    margin: .5em 0;
    padding: .5em 1em;
    font-size: 2.8rem;
    color: colors.$pure-white;
    text-decoration: none;
    line-height: 1;
    
    &-animation {
      animation: navItemAnimation 1s cubic-bezier(0.65, 0.05, 0.36, 1);
      animation-fill-mode: backwards;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: colors.$pure-white;
      transform: scale(0);
      transition: transform 250ms linear;

    }

    &:hover {
      &::before {
        transform: scale(1);
      }
    }
  }
}

.header {
  height: 85vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  color: colors.$light;
  @include mixins.bgImg("../assets/images/seychelles-hero.jpg");

  &__title {
    margin-bottom: .2em;
    font-family: var(--dancing-script-bold);
    font-size: 5rem;
    font-weight: 300;
  }
  &__text {
    margin-bottom: 1.5em;
  }
  &__btn {
    padding: .8em 1.6em;
    background-color: colors.$pure-white;
    color: colors.$dark;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
  }
}

@keyframes navItemAnimation {
  from {
    opacity: 0;
    transform: translateX(30vw);
  } to {
    opacity: 1;
    transform: translateX(0);
  }
}

.dreams {
  &__box {
    display: flex;
    flex-direction: column;
  }
  &__img {
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 6px;
  }
  &__title {
    margin-bottom: 1rem;
    font-size: 2.8rem;
  }
  &__text {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: colors.$paragraph-color;
  }
}

/* Hero Section */

.hero {
  position: relative;
  overflow: hidden;
  padding: 10em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: colors.$pure-white;
  @include mixins.bgImg("../assets/images/seychelles-hero.jpg");

  &__title, &__text {
    margin: 2rem 0;
  }

  &__title {
    font-family: var(--dancing-script-bold);
    font-size: 4.2rem;
  }

  &__text {
    font-size: 2.2rem;
    font-weight: 400;
  }

  hr {
    margin: 0 auto;
    width: 90%;
  }
}

/* Islands Section */

.islands {
  &__cards {
    display: flex;
    flex-direction: column;
  }

  &__card {
    margin: 1em 0;
    height: 450px;
    position: relative;
    color: colors.$pure-white;
    text-align: center;
    perspective: 1000px;

    &-img {
      padding: 2em;
      height: 100%;
      border-radius: 8px;
      background-size: cover;
      transition: transform 1s ease-in-out, opacity 1s ease-in-out;
      background-position: center;
      background-size: cover;

      &--first {
        background-image: colors.$light-blue-gradient, url("../assets/images/water-travel-ocean.jpg");
      }
      &--second {
        background-image: colors.$blue-gradient, url("../assets/images/boat-coast-palmtree.jpg");
      }
      &--third {
        background-image: colors.$purple-gradient, url("../assets/images/hawaii-palms-pond.jpg");
      }

      &-title {
        font-family: var(--dancing-script-bold);
        font-size: 3rem;
      }
      &-info {
        position: absolute;
        bottom: 30px;
        right: 30px;
        font-size: 1.8rem;

        i {
          margin-right: .3em;
        }
      }
    }

    &-info {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-image: colors.$light-blue-gradient-solid;
      border-radius: 8px;
      transform: rotateY(180deg);
      transition: transform 1s ease-in-out, opacity 1s ease-in-out;
      opacity: 0;


      &-title {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 2.75rem;
        transform: translateX(-50%);
        font-family: var(--dancing-script-bold);
        font-size: 2.6rem;
      }

      &-list {
        list-style: none;
        margin: 0 auto;
        width: 70%;

        &-item {
          padding: 1em 0;
          font-size: 1.6rem;
          border-bottom: 2px solid colors.$light;

          &:last-child {
            border-bottom: none;
          }
        }
      }

      &-btn {
        width: 80%;
        bottom: -2em;
        left: 50%;
        transform: translateX(-50%);
        padding: 1em;
        border: none;
        border-radius: 4px;
        background-color: colors.$green-color;
        cursor: pointer;

        &::before {
          background-color: colors.$green-color-hover;
        }
      }
    }

    &:hover {
      .islands__card-img {
        transform: rotateY(-180deg);
        opacity: 0;
      }
      .islands__card-info {
        transform: rotateY(0);
        opacity: 1;
      }
    }
  }
}

/* Offers Section */

.offers {
  position: relative;
  overflow-x: hidden;
  background-image: colors.$blue-gradient-solid;

  .section__heading {
    color: colors.$pure-white;
  }

  &__option {
    margin: 2em 0;
    background-color: colors.$pure-white;
    border-radius: .5em;

    &-img {
      overflow: hidden;

      &:hover {
        .offers__img {
          transform: scale(1.1);
        }
      }
    }

    &-info {
      padding: 1.4em;
    }

    &-heading {
      font-size: 2.4rem;
      font-weight: 400;
      margin-bottom: .5em;
    }

    &-text {
      color: colors.$paragraph-color;
    }

    &-btn {
      width: 100%;
      margin-top: 1em;
      padding: .8em;
      color: colors.$pure-white;
      background-color: colors.$primary-color;
      border: none;
      border-radius: 8px;
      font-size: 2.2rem;
      cursor: pointer;

      &::before {
        background-color: colors.$secondary-color;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5em .5em 0 0;
    transition: transform 300ms linear;
  }
}

/*** MEDIA QUERIES ***/

@media (min-width: 576px) {
  .hero {
    padding: 15em 2em;
  }

  .islands {
    &__card-img-title {
      font-size: 3.6rem;
    }
  }
}

@media (min-width: 768px) {
  .burger-btn {
    top: 40px;
    right: 40px;
  }

  .nav {
    &__item {
      font-size: 3.6rem;
      font-weight: 300;
    }
  }

  .header {
    &__title {
      font-size: 5rem;
    }
    &__text {
      font-size: 2rem;
    }
    &__btn {
      font-size: 1.8rem;
    }
  }

  .dreams {
    &__box {
      flex-direction: row;
      gap: 2rem;
      margin: 2em 0;
  
      &-img{
        width: 45%;

        &--two {
          order: 1;
        }
      }
      &-text {
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--two {
          text-align: right;
        }
      }
    }
    &__img {
      margin-bottom: 0;
    }
    &__title {
      font-size: 3.4rem;
    }
    &__text {
      font-size: 2rem;
    }
  }

  .hero {
    &__title {
      font-size: 4.8rem;
    }
    &__text {
      font-size: 2.6rem;
    }
  }

  .islands {
    &__cards {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__card {
      width: 40%;
      margin: 1em;
    }
  }

  .offers {
    &__option {
      display: flex;

      &-img {
        width: 50%;

        &--right {
          order: 1;

          .offers__img {
            border-radius: 0 0.5em 0.5em 0;
          }
        }
      }

      &-heading {
        font-size: 3.6rem;
      }
      
      &-info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    &__img {
      border-radius: .5em 0 0 .5em;
    }
  }
}

@media (min-width: 992px) {
  .nav {
    &__item {
      font-size: 4.2rem;
    }
  }

  .header {
    background-image: colors.$blue-gradient, url("../assets/images/seychelles-hero-hq.jpg");

    &__title {
      font-size: 6rem;
    }
    &__text {
      font-size: 2.4rem;
    }
    .white-block {
      width: 50%;
    }
  }
  
  .dreams {
    padding: 10em 2em;

    &__title {
      font-size: 4rem;
    }
    &__text {
      font-size: 2.2rem;
    }
  }

  .hero {
    padding: 20em 2em;

    &__title {
      font-size: 6.2rem;
    }
    &__text {
      font-size: 3rem;
    }
    hr {
      width: 70%;
    }
  }

  .islands {
    &__card {
      width: 30%;
    }
  }

  .offers {
    &__option {
      height: 320px;

      &-text {
        font-size: 1.8rem;
      }
    }
  }
}