@use "./reset";
@use "./colors";
@use "./components";
@use "./mixins" as mixins;

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  overflow-y: hidden;
}

.burger-btn {
  @include mixins.burgerBtn;
  cursor: pointer;

  &__box {
    position: relative;
    width: 40px;
    height: 30px;
  }

  &__bars,
  &__bars::before,
  &__bars::after {
    content: "";
    position: absolute;
    right: 0;    
    height: 3px;
    background-color: colors.$light;
    transition: width 300ms;
  }

  &__bars {
    top: 0;
    width: 100%;

    &::before {
      top: 13px;
      width: 60%;
    }
    &::after {
      top: 27px;
      width: 30%;
      transition-delay: 100ms;
    }
  }

  &:focus {
    border: 2px solid colors.$light;
    border-radius: 8px;

    & .burger-btn__bars {
      &::before, &::after {
        width: 100%;
      }
    }
  }
}

.header {
  height: 85vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  @include mixins.bgImg("../assets/images/seychelles-hero.jpg");

  &__title {
    margin-bottom: .2em;
    font-size: 4rem;
    font-weight: 300;
  }
  &__text {
    margin-bottom: 1.5em;
  }
  &__btn {
    padding: .8em 1.6em;
    background-color: colors.$pure-white;
    color: colors.$dark;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
  }
}