# Dependencies
node_modules/

# Optional npm cache directory
.npm

# Files with environmental variables
.env

# Logs
logs
*.log
npm-debug.log*

# IDE files
.vscode

# Runtime data
pids
*.pid
*.seed
*.pid.lock