@use "../utilities/colors";

.dreams {
  &__box {
    display: flex;
    flex-direction: column;
  }
  &__img {
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 6px;
  }
  &__title {
    margin-bottom: 1rem;
    font-size: 2.8rem;
  }
  &__text {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: colors.$paragraph-color;
  }
}