@use "../utilities/colors";

.footer {
  color: colors.$pure-white;
  background-color: colors.$dark;

  .container {
    padding: 4em 2em 2em;
  }

  &__box {
    &-title {
      margin-bottom: 1em;
      font-family: var(--dancing-script-regular);
      font-size: 3.2rem;
    }

    &-text {
      margin-bottom: 2em;
      line-height: 1.75;
    }

    &-desktop {
      display: none;
    }

    &-list {
      list-style-type: none;
    }
  }

  &__socials {
    &-list {
      list-style-type: none;
      display: flex;
      gap: 1.25em;
    }

    &-link {
      font-size: 4.2rem;
      color: colors.$pure-white;
      transition: color 300ms linear;

      &--facebook:hover {
        color: colors.$facebook;
      }

      &--twitter:hover {
        color: colors.$twitter;
      }

      &--instagram:hover {
        color: colors.$instagram;
      }
    }
  }

  &__bottom-text {
    padding: 2em 0;
    text-align: center;
  }
}

@media (min-width: 375px) {
  .footer__box-title {
    font-size: 3.6rem;
  }
}