@use "../utilities/colors";
@use "../utilities/mixins";

.header {
  height: 85vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
  color: colors.$light;
  @include mixins.bgImg("../assets/images/seychelles-hero.min.jpg");

  &__title {
    margin-bottom: .45em;
    font-family: var(--primary-font-bold);
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  &__text {
    margin-bottom: 2em; 
    line-height: 1.75;
  }
  
  &__btn {
    padding: 1em 1.8em;
    background-color: colors.$sage-green;
    color: colors.$dark;
    border: none;
    border-radius: 1.8em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--nunito-semibold);
    line-height: 1;
  }
}