@use "./colors";

@mixin burgerBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1.5em;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: transparent;
  z-index: 3;
  cursor: pointer;
}

@mixin bgImg($url) {
  background-image: colors.$blue-gradient, url($url);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@mixin sectionBackground($color) {
  position: relative;
  overflow-x: hidden;
  background: $color;
}

@mixin contactForm {
  padding: .8em 1.6em;
  border: 2px solid colors.$dark;
  border-radius: 8px;
  font-size: 1.8rem;
  font-family: var(--open-sans-regular);
}