@use "../utilities/colors";
@use "../utilities/mixins";

.contact {
  position: relative;
  background-color: colors.$less-light;

  &.section-padding {
    padding-bottom: calc(6em + 40px);
  }

  .white-block-left {
    background-color: colors.$dark;
  }
  
  &__form, &__form-top, &__form-box, &__form-bottom {
    display: flex;
    flex-direction: column;
  }

  &__form {
    &-box {
      margin-bottom: 2em;
    }

    &-error {
      display: none;
      margin-top: .15em;
    }

    &-label {
      margin-bottom: .35em;
      font-family: var(--nunito-semibold);
      font-size: 1.8rem;
    }

    &-input {
      @include mixins.contactForm;
    }

    &-textarea {
      @include mixins.contactForm;
      resize: vertical;
      min-height: 150px;
      padding: .8em;
    }

    &-error {
      color: colors.$danger;
      font-family: var(--nunito-semibold);
      font-size: 1.8rem;
    }

    &-bottom {
      flex-direction: row;
      justify-content: center;
      gap: 2em;
    }

    &-btn {
      display: block;
      padding: .7em 1.4em;
      border: none;
      border-radius: 4px;
      font-size: 1.8rem;
      font-family: var(--nunito-semibold);
      color: colors.$pure-white;
      cursor: pointer;

      &--reset {
        background-color: colors.$danger;

        &::before {
          background-color: colors.$danger-hover;
        }
      }

      &--submit {
        background-color: colors.$primary-color;

        &::before {
          background-color: colors.$secondary-color;
        }
      }
    }
  }
}

@media (min-width: 375px) {
  .contact__form-btn {
    padding: 1em 2em;
  }
}