@use "../colors";

.dreams {
  &__box {
    display: flex;
    flex-direction: column;
  }
  &__img {
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 6px;
  }
  &__title {
    margin-bottom: 1rem;
    font-size: 2.8rem;
  }
  &__text {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: colors.$paragraph-color;
  }
}

@media (min-width: 768px) {
  .dreams {
    &__box {
      flex-direction: row;
      gap: 2rem;
      margin: 2em 0;
  
      &-img{
        width: 45%;

        &--two {
          order: 1;
        }
      }
      &-text {
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--two {
          text-align: right;
        }
      }
    }
    &__img {
      margin-bottom: 0;
    }
    &__title {
      font-size: 3.4rem;
    }
    &__text {
      font-size: 2rem;
    }
  }
}

@media (min-width: 992px) {
  .dreams {
    padding: 10em 2em;

    &__title {
      font-size: 4rem;
    }
    &__text {
      font-size: 2.2rem;
    }
  }
}