@use "../utilities/colors";

.footer {
  color: colors.$pure-white;
  background-color: colors.$dark;

  .wrapper {
    padding: 4em 2em 2em;
  }

  &__box {
    &-title {
      margin-bottom: 1em;
      font-family: var(--dancing-script-regular);
      font-size: 3.2rem;
    }

    &-social {
      margin: 2em 0;

      &-link {
        padding: 0 .3em;
        color: colors.$pure-white;
        font-size: 4.2rem;
        transition: color 300ms linear;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        &:hover {
          &:first-child {
            color: colors.$facebook;
          }
          &:nth-child(2) {
            color: colors.$twitter;
          }
          &:nth-child(3) {
            color: colors.$instagram;
          }
        }
      }
    }

    &-desktop {
      display: none;
    }

    &-list {
      list-style-type: none;
    }
  }

  &__bottom-text {
    padding: 2em 0;
    text-align: center;
  }
}

@media (min-width: 375px) {
  .footer__box-title {
    font-size: 3.6rem;
  }
}