@use "../utilities/colors";
@use "../utilities/mixins";

.header {
  height: 85vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  color: colors.$light;
  @include mixins.bgImg("../assets/images/seychelles-hero.jpg");

  &__title {
    margin-bottom: .2em;
    font-family: var(--dancing-script-bold);
    font-size: 5rem;
    font-weight: 300;
  }

  &__text {
    margin-bottom: 2em;
  }
  
  &__btn {
    padding: .9em 1.8em;
    background-color: colors.$pure-white;
    color: colors.$dark;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--nunito-semibold);
  }
}