@use "../colors";

.islands {
  &__cards {
    display: flex;
    flex-direction: column;
  }

  &__card {
    margin: 1em 0;
    height: 450px;
    position: relative;
    color: colors.$pure-white;
    text-align: center;
    perspective: 1000px;

    &-img {
      padding: 2em;
      height: 100%;
      border-radius: 8px;
      background-size: cover;
      transition: transform 1s ease-in-out, opacity 1s ease-in-out;
      background-position: center;
      background-size: cover;

      &--first {
        background-image: colors.$light-blue-gradient, url("../assets/images/bali-island.jpg");
      }
      &--second {
        background-image: colors.$blue-gradient, url("../assets/images/japanese-island.jpg");
      }
      &--third {
        background-image: colors.$purple-gradient, url("../assets/images/hawaii-palms-pond.jpg");
      }

      &-title {
        font-family: var(--dancing-script-bold);
        font-size: 3.6rem;
      }

      &-info {
        position: absolute;
        bottom: 30px;
        right: 30px;
        font-size: 1.8rem;

        i {
          margin-right: .3em;
        }
      }
    }

    &-info {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-image: colors.$light-blue-gradient-solid;
      border-radius: 8px;
      transform: rotateY(180deg);
      transition: transform 1s ease-in-out, opacity 1s ease-in-out;
      opacity: 0;

      &-title {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 2.75rem;
        transform: translateX(-50%);
        font-family: var(--dancing-script-bold);
        font-size: 2.6rem;
      }

      &-list {
        list-style: none;
        margin: 0 auto;
        width: 70%;

        &-item {
          padding: 1em 0;
          font-size: 1.6rem;
          border-bottom: 2px solid colors.$light;

          &:last-child {
            border-bottom: none;
          }
        }
      }

      &-btn {
        width: 80%;
        bottom: -1em;
        left: 50%;
        transform: translateX(-50%);
        padding: .7em;
        border: none;
        border-radius: 8px;
        background-color: colors.$green-color;
        font-family: var(--nunito-semibold);
        font-size: 2rem;
        cursor: pointer;

        &::before {
          background-color: colors.$green-color-hover;
        }
      }
    }

    &:hover {
      .islands__card-img {
        transform: rotateY(-180deg);
        opacity: 0;
      }
      .islands__card-info {
        transform: rotateY(0);
        opacity: 1;
      }
    }
  }
}

@media (min-width: 576px) {
  .islands {
    &__card-img-title {
      font-size: 3.6rem;
    }
  }
}

@media (min-width: 768px) {
  .islands {
    &__cards {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__card {
      width: 40%;
      margin: 1em;
    }
  }
}

@media (min-width: 992px) {
  .islands {
    &__card {
      width: 30%;
    }
  }
}