@use "../colors";
@use "../mixins";

.offers {
  @include mixins.sectionBackground(colors.$blue-gradient);

  .section__heading {
    color: colors.$pure-white;
  }

  &__option {
    margin: 2em 0;
    background-color: colors.$pure-white;
    border-radius: .5em;

    &-img {
      overflow: hidden;

      &:hover {
        .offers__img {
          transform: scale(1.1);
        }
      }
    }

    &-info {
      padding: 1.4em;
    }

    &-heading {
      font-size: 2.4rem;
      font-weight: 400;
      margin-bottom: .5em;
    }

    &-text {
      color: colors.$paragraph-color;
    }

    &-btn {
      width: 100%;
      margin-top: 1em;
      padding: .8em;
      color: colors.$pure-white;
      background-color: colors.$primary-color;
      border: none;
      border-radius: 8px;
      font-family: var(--nunito-regular);
      font-size: 2.4rem;
      cursor: pointer;

      &::before {
        background-color: colors.$secondary-color;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5em .5em 0 0;
    transition: transform 300ms linear;
  }
}