@use "./utilities/colors";
@use "./utilities/mixins";

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.no-scroll {
  overflow: hidden;
}

.navbar__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: colors.$dark;
  transition: opacity 500ms cubic-bezier(0.65, 0.05, 0.36, 1);
  opacity: 0;
  z-index: 1;
  
  &--active {
    display: block;
    opacity: .65;
  }
}

.white-block {
  position: absolute;
  height: 20px;
  width: 60%;
  background-color: colors.$pure-white;
  transform: skew(45deg);

  &-left {
    bottom: 0;
    left: -50px;
  }

  &-right {
    top: 0;
    right: -50px;
  }
}

.btn-special-animation {
  position: relative;
  overflow: hidden;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-100% - 8px);
    width: 100%;
    height: 100%;
    background-color: colors.$less-light;
    transform: skew(-20deg);
    transition: left 300ms ease-in-out;
    z-index: -1;
  }

  &:hover {
    &::before {
      left: calc(100% + 8px);
    }
  }
}

.section-padding {
  padding: 6em 2em;
}

.section__heading {
  position: relative;
  margin-bottom: 2em;
  text-align: center;
  color: colors.$olive-garden;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.scroll-to-top-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 1.5em;
  border: 2px solid transparent;
  font-size: 2rem;
  border-radius: 8px;
  background-color: colors.$olive-garden;
  transition: right 300ms ease-in-out;
  cursor: pointer;

  & > i {
    color: colors.$beige;
  }

  &--hidden {
    right: -80px;
  }

  &:focus {
    outline: none;
    border-color: colors.$dark;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 2em;
  background-color: colors.$pure-white;
  border-radius: 8px;
  z-index: 2;

  &__text {
    margin-bottom: 1em;
    font-family: var(--nunito-semibold);
    font-size: 2.2rem;
  }

  &__btn-close {
    @include mixins.contactForm($radius: 4px);
    background-color: colors.$primary-color;
    color: colors.$light;
    border: 2px solid transparent;
    cursor: pointer;

    &:focus {
      outline: none;
      border-color: colors.$dark;
    }
  }

  &.active {
    display: block;
  }

  &.animation {
    animation: showModal 500ms linear;
  }
}

.modal-shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: colors.$box-shadow;
  z-index: 1;

  &.active {
    display: block;
  }

  &.animation {
    animation: showModal 500ms linear;
  }
}

@keyframes showModal {
  from {
    opacity: 0;
  } 
  to {
    opacity: 1;
  }
}