@use "./utilities/colors";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font-regular: "DancingScript-Regular", sans-serif;
  --primary-font-medium: "DancingScript-Medium", sans-serif;
  --primary-font-semibold: "DancingScript-SemiBold", sans-serif;
  --primary-font-bold: "DancingScript-Bold", sans-serif;
  --secondary-font-regular: "Nunito-Regular", sans-serif;
  --secondary-font-semibold: "Nunito-SemiBold", sans-serif;

  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: colors.$beige;
  font-family: var(--secondary-font-regular);
  font-size: 1.6rem;
  overflow-x: hidden;
}