@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  background: #34363e;
  color: #fff;
}

hr {
  border: solid 2px;
  border-radius: 2px;
}

#birthday_party_items > li:first-of-type {
  list-style-type: "🎈 ";
}

#birthday_party_items > li:nth-of-type(2) {
  list-style-type: "🍰 ";
}

#birthday_party_items > li:nth-of-type(3) {
  list-style-type: "🥗 ";
}

#birthday_party_items > li:last-of-type {
  list-style-type: "🤣 ";
}

#contact_information_items {
  list-style-type: square;
}

a {
  text-decoration: underline 2px rgba(255, 255, 255, 0);
  transition: all .5s;
}

a.project_link {
  margin-right: 10px;
}

a.project_link:hover {
  opacity: .6;
}

a.google_maps_link:hover {
  text-decoration-color: rgba(255, 255, 255, 1);
  letter-spacing: 2px;
}